:root{
    --white: #f7f7f7;
    --background: #D5E1Ef;
    --bold-text:#1F314F;
    --normal-text: #68778D;
}

body{
    background-color: var(--background);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.widget{
    background-color: var(--white);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
}

img{
    max-width: 100%;
    border-radius: 10px;
}

h1{
    color: var(--bold-text);
    font-size: 1.3rem;
    margin: 1.375rem 0 0.5rem 0;
    text-align: center;
    font-weight: bold;
}

p{
    color: var(--normal-text);
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    margin: 1.375 rem 0 0.5rem 0;
}

.attribution{
    position: absolute;
    bottom: 1rem;
    font-size: 0.7rem;
    text-align: center;
}
