:root{
    --white: #f7f7f7;
    --background: #D5E1Ef;
    --bold-text:#1F314F;
    --normal-text: #68778D;
}

body{
    background-color: var(--background);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.widget{
    background-color: var(--white);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
}

img{
    max-width: 100%;
    border-radius: 10px;
}

h1{
    color: var(--bold-text);
    font-size: 1.3rem;
    margin: 1.375rem 0 0.5rem 0;
    text-align: center;
    font-weight: bold;
}

p{
    color: var(--normal-text);
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    margin: 1.375rem 0 0.5rem 0;
}

.attribution{
    font-size: 0.795rem;
    text-align: center;
    margin: 3rem 0 1.375rem 0;
}

@media (min-width: 540px){
    .widget{
        max-width: 60%;
        padding: 1.5rem;
    }

    .attribution{
        font-size: 1.075rem;
    }
}

@media (min-width: 768px){
    .widget{
        max-width: 50%;
    }

    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1.5rem;
    }

    .attribution{
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px){
    .widget{
        max-width: 50%;
    }

    img{
        max-width: 98%;
    }

    h1{
        font-size: 2.75rem;
        margin: 2.5rem 0 2.5rem 0;
    }

    p{
        font-size: 2.15rem;
        line-height: normal;
    }

    .attribution{
        font-size: 1.5rem;
    }
}

@media (min-width: 1366px){
    .widget{
        max-width: 20%;
        max-height: 75%;
    }

    h1{
        margin: 1.375rem 0 1.375rem 0;
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;

    }

    .attribution{
        font-size: 0.85rem;
    }
}